* {
	box-sizing: border-box;
}

html, body {text-align:center;
	margin: 0; font-family:"Roboto Condensed";
}

header, footer {color:white; background-color:purple; max-width: 660px; max-height: 600px; margin: auto;

}

.centered {

}

header .subtitle {

}

h1 {font-family: "Source Sans Pro", sans-serif; font-family:"Roboto Condensed";

}

ul {
	display: flex;
	flex-wrap: wrap;
}

ul li {
	width: 50%;
	list-style-type: none;
}

main {
	max-width:660px;
	margin:auto;
	border-style:solid;
	border-width:3px;
	border-color:purple;

}

section {

}

h2 {

}

h3 {
	color: purple; font-family: "Source Sans Pro", sans-serif; font-size: 16px;
}

p {

}

.details {

}

.object {

}

.object:after {
	content: " | ";
}

footer h2 {

}